body {
    background: linear-gradient(rgba(232, 235, 228, 0.85),
    rgba(232, 235, 228, 0.85)
    ), url('icons/shaun-the-sheep.JPG');
}

main {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: black;
}

.icons {
    display: flex;
    flex-direction: column;
}

.icon-div {
    display: flex;
    justify-content: center;
}

.text {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/** about me icon **/

#about {
    position: absolute;
    top: 0;
    right: 0;
}

#wuthering-heights {
    display: inline-block;
}

/** Photos icon **/

#photos {
    position: absolute;
    top: 0;
    left: 0;
}

#iphoto {
    display: inline-block;
}

/** contact icon **/


.centre-paragraph {
    padding: 2px 5px;
    text-align: center;
    background-color: #fff;
    display: inline-block;
}