body {
    background: linear-gradient(rgba(232, 235, 228, 0.85),
    rgba(232, 235, 228, 0.85)
    ), url('icons/shaun-the-sheep.JPG');
}

main {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: black;
}

.icons {
    display: flex;
    flex-direction: column;
}

.icon-div {
    display: flex;
    justify-content: center;
}

.text {
    display: flex;
    justify-content: center;
}

.centre-paragraph {
    padding: 2px 5px;
    text-align: center;
    background-color: #fff;
    display: inline-block;
}

/** about me icon **/

#about {
    position: absolute;
    top: 0;
    right: 0;
}

/** Photos icon **/

#photos {
    position: absolute;
    top: 25px;
    left: 50px;
}

/** contact icon **/

#contact {
    position: absolute;
    top: 50px;
    right: 100px;
}

/** projects icon **/
#projects {
    position: absolute;
    bottom: 100px;
    left: 250px;
}

/** Music icon **/

#music {
    position: absolute;
    top: 300px;
    left: 500px;
}