body {
    background: linear-gradient(rgba(232, 235, 228, 0.85),
    rgba(232, 235, 228, 0.85)
    ), url('icons/shaun-the-sheep.JPG');
}

main {
    font-family: 'Lucida Grande Bold', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    src: url('https://www.wfonts.com/data/2015/10/29/lucida-grande/Lucida Grande Bold.ttf') format('ttf');
    font-size: 14px;
    color: #373c44;
    font-weight: bold;
}

.icons, .icon-div, .text {
    display: flex;
    flex-direction: column;
}

.centre-paragraph {
    padding: 2px 5px;
    text-align: center;
    display: inline-block;
}

/** about me icon **/

#about {
    position: absolute;
    top: 0;
    right: 0;
}

#about:hover #finder #finder-icon, #photos:hover #iphoto #iphoto-icon {
    transform: scale(1.05);
}

/** Photos icon **/

#photos {
    position: absolute;
    top: 25px;
    left: 50px;
}

/** contact icon **/

#contact {
    position: absolute;
    top: 50px;
    right: 100px;
}

#contact:hover #sparrow {
    transform: rotate(10deg);
}

/** projects icon **/
#projects {
    position: absolute;
    bottom: 100px;
    left: 250px;
}

#projects-placeholder {
    width: 88px;
    height: 88px;
    background-image: url(icons/folder.png);
}

#projects:hover #projects-placeholder {
    background-image: url(icons/folder-full.png);
}

/** Music icon **/

#music {
    position: absolute;
    top: 300px;
    left: 500px;
}

#music-placeholder {
    width: 88px;
    height: 88px;
    background-image: url(icons/music.png);
}

#music:hover #music-placeholder {
    background-image: url(icons/music2.png);
}